{% extends "base.html" %}
{% load static %}

{% block css %}
    <style>
        .content-container {
            background-color: black;
            color: white;
            padding: 20px;
            border-radius: 10px;
            margin-top: 0;
        }
    </style>
{% endblock %}

{% block title %}Soon{% endblock %}

{% block content %}
    <div class="mt-0 pt-0 content-container custom-shadow rounded"> 
        <h2 class="m-2">Page under development</h2>
        <p class="m-2">Sorry for the inconvenience, but this page is under construction.</p>
        <p class="m-2">We are trying to make it as soon as possible!</p>
    </div>
{% endblock %}

{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Sandy Team 2024</p>
        </div>
    </footer>
{% endblock %}
