{% extends 'base.html' %}
{% load static %}
<script src="{% static 'js/date_converter.js' %}"></script>

{% block title %}Create Testing Task{% endblock %}

{% block content %}
    <h2>Create Testing Task</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <div>
            <label for="id_task_type">Task Type:</label>
            <select name="task_type" id="id_task_type">
                <option value="testing" selected>Testing</option>
                <option value="photo_submission">Photo Submission</option>
            </select>
        </div>

        <div style="margin-top: 20px;">
            <label for="id_test_case">Test Case:</label>
            <select name="test_case" id="id_test_case">
                <option value="1">2 + 2</option>
                <option value="2">3 * 3</option>
                <!-- Додайте інші варіанти тут -->
            </select>
        </div>

        <div style="margin-top: 20px;"> 
            <button type="submit">Create</button>
        </div>
    </form>
    
    <!-- Додатковий JavaScript код для вибору дати -->
    <!-- Вставте JavaScript код тут -->
{% endblock %}
